{% extends 'base.html' %}
{% from 'utils.j2' import nav, inputitem, submitbutton, cancelbutton %}

{% block title %}Save Confirm - attendance record{% endblock %}
{% block heading %}Save Confirm - attendance record{% endblock %}

{% set user = session['user'] %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col">
        {{ nav(user) }}
    </div>
</div>

{% if att_record %}
<form action="{{ url_for('save_clocks') }}" method="POST">
    <div class="row justify-content-center">
        <div class="col">
            {% if staff %}
            <p class="text-center h5">Attendance for <strong>{{ staff.firstname }}&nbsp;{{ staff.lastname }}</strong></p>
            {% else %}
            <p class="text-center h5">Cannot find person with ID = {{ data[0].id }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p class="text-center">Confirm Manual Entry Attendance Record</p>
            <table class="table table-striped">
                <tr>
                    <th scope="col">Staff ID</th>
                    <th>DATE</th>
                    <th>Clock - IN</th>
                    <th>Clock - OUT</th>
                    <th>Reason</th>
                </tr>
                <tr>
                        <td>
                        <div class="input-group">
                            <input type="text" name="staff" class="form-control" value="{{ att_record.staff }}" readonly>
                        </div>                                                
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="att_date" class="form-control" value="{{ att_record.att_date }}" readonly>
                        </div>                                                
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="clock_in" class="form-control" value="{{ att_record.clock_in }}" readonly>
                        </div>                                                
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="clock_out" class="form-control" value="{{ att_record.clock_out }}" readonly>
                        </div>                                                
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="reason" class="form-control" value="{{ att_record.reason }}" readonly>
                        </div>                                                
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            {{ submitbutton('Save Record') }}
        </div>
        <div class="col-3">
            {{ cancelbutton('Cancel') }}
        </div>
    </div>
</form>
{% endif %}
{% endblock %}