{% extends 'base.html' %}
{% from 'utils.j2' import nav %}

{% block title %}Attendance Report - Adjust Attendance{% endblock %}

{% block heading %}Attendance Report - Adjust Attendance{% endblock %}

{% set user = session['user'] %}

{% block content %}
<div class="row justify-content-center my-2">
    <div class="col">
    {{ nav(user) }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col justify-content-center">
        <p class="h6 text-center fst-italic border p-2">List of last 10 days max.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col justify-content-center">
    </div>
</div>

{% endblock %}