{% extends 'base.html' %}
{% from 'utils.j2' import nav %}

{% block title %}Attendance Report{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/f74df82d77.js" crossorigin="anonymous"></script>
{% endblock %}

{% block heading %}Attendance Report - List Files{% endblock %}

{% set user = session['user'] %}

{% block content %}
<div class="row justify-content-center my-2">
    <div class="col">
    {{ nav(user) }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col justify-content-center">
        {% if files %}
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th>File Date</th>
                <th>Filename</th>
                <th>Delete</th>
            </tr>
            {% for row in files %}
            <tr>
                <td scope="row"><a href="{{ url_for('showimportdata', fid=row.id) }}">{{ row.id }}</a></td>
                <td>{{ row.filedate }}</td>
                <td>{{ row.filename }}</td>
                <td><a href="{{ url_for('filedelete', fid=row.id) }}"><i class="fa fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="text-center">No Data</p>
        {% endif %}
    </div>
</div>

{% endblock %}